div {
    background-color: blue;
    width: 500px;
    height: 200px;
    displsay: inline

}
span {
    background-color: brown;
    width: 200px;
    height: 200px;
    display: block;
    text-align: center;
}
